<?php
self::$meta->title('LiveSugare Quick Start');
self::$meta->description('LiveSugare Quick Start');
self::$meta->keyword('LiveSugare');
self::$meta->keyword('Quick');
self::$meta->keyword('Start');
$record = self::$apps->sql->table->test->getRandomRecord();
echo '<div style="margin:25px auto;width:600px;"><h1>Имя;Статус</h1><h1>'.$record['name'].';'.$record['status'].'</h1></div>';
?>
